#fundo{
    background-color: grey;
}

.estilofoto{
    border-radius: 150px;
    border: 2px;
    border-color: black;
    border-style: solid;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    font-size: 30px;
}

#habilidade_tecnica{
    background-color: aliceblue;
}

#habilidade_social{
    background-color: coral;
    
}

.site{
    text-align: center;
    
}

#rodape{
    text-align: center;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border: 2px;
}