#fundo{
    background-color: grey;
}

.estilofoto{
    border-radius: 150px;
    border: 2px;
    border-color: black;
    border-style: solid;
}
a{
    text-align: center;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    font-size: 30px;
    text-align: justify;
}

#habilidade_tecnica{
    background-color: aliceblue;
    line-height: 40px;
    font-style: italic;
}

#habilidade_social{
    background-color: coral;
    line-height: 40px;
    font-style: italic;
    
}

#link{
    text-align: center;
    font-size: 20px;
}

#rodape{
    text-align: center;
    border-radius: 2px;
    border-color: black;
    border-style: solid;
    border: 2px;
}